<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="vendors/jquery-3.2.1.min.js" charset="utf-8"></script>
    <script src="scripts/script.js" charset="utf-8"></script>
    <link rel='stylesheet' href='style.css'>
    <title></title>
    <h1>Server Inventory Madness</h1>
  </head>
  <body>
        <input id='input' placeholder='number 1'>
        <input id='input2' placeholder='number 2'>
        <button id='addButton'>add</button>
        <button id='search'>subtract</button>
        <button id='search'>multiply</button>
        <button id='search'>divide</button>
        <div id='container'>
          <div id='cont2'>
            <div id='cont'>
              <h2>Result</h2>
              <button id='show'>Clear Results</button>
              <div id='outputDiv'></div>
            </div>
          </div>
        </div>
  </body>
</html>
