<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="vendors/jquery-3.2.1.min.js" charset="utf-8"></script>
    <script src="scripts/script.js" charset="utf-8"></script>
    <link rel='stylesheet' href='style.css'>
    <title></title>
    <h1>Server Calculator</h1>
  </head>
  <body>
    <div id='inputfieldfor1'>
      <p id='button1'>Select first Numbers</p>
      <button type='number' value='0' class='calc'>0</button>
      <button type='number' value='1' class='calc'>1</button>
      <button type='number' value='2' class='calc'>2</button>
      <button type='number' value='3' class='calc'>3</button>
      <br>
      <button type='number' value='4' class='calc'>4</button>
      <button type='number' value='5' class='calc'>5</button>
      <button type='number' value='6' class='calc'>6</button>
      <button type='number' value='7' class='calc'>7</button>
      <br>
      <button type='number' value='8' class='calc'>8</button>
      <button type='number' value='9' class='calc'>9</button>
      <button id='switch'>Switch</button>
    </div>
    <div id='inputfieldfor2'>
      <p id='button1'>Select Second Numbers</p>
      <button type='number' value='0' class='calc'>0</button>
      <button type='number' value='1' class='calc'>1</button>
      <button type='number' value='2' class='calc'>2</button>
      <button type='number' value='3' class='calc'>3</button>
      <br>
      <button type='number' value='4' class='calc'>4</button>
      <button type='number' value='5' class='calc'>5</button>
      <button type='number' value='6' class='calc'>6</button>
      <button type='number' value='7' class='calc'>7</button>
      <br>
      <button type='number' value='8' class='calc'>8</button>
      <button type='number' value='9' class='calc'>9</button>
      <button id='switch2'>Switch</button>
    </div>
        <input id='input' placeholder='number 1'>
        <input id='input2' placeholder='number 2'>
        <br>
        <button value ='add' class='math' class='other'>add</button>
        <button value ='sub' class='math' class='other'>subtract</button>
        <button value ='mult' class='math' class='other'>multiply</button>
        <button value ='div' class='math' class='other'>divide</button>
        <div id='container'>
          <div id='cont2'>
            <div id='cont'>
              <h2>Result</h2>
              <button id='clear' class='other'>Clear Results and Inputs</button>
              <br>
              <div id='outputDiv'></div>
            </div>
          </div>
        </div>
  </body>
</html>
